{% extends "base.html" %}
{% load static %}
{% block css_block %}
  .welcome-div{
    text-align: center;
  }
  .quiz-name-span{
    margin-left: 2rem;
  }
  .record-link{
    text-decoration: none;
    cursor: pointer;
  }
  .flex{
    display: flex;
    flex-wrap: wrap;

  }
  
  .flex-item{
    border: 1px solid black;
    padding: 1rem;
    border-radius: 10px;
    margin-right: 1rem;
    margin-bottom: 1rem;
  }
  .flex-item:hover{
    background-color: #8395a7;
    color: white;
  }

{% endblock css_block %}
{% block header_image %}{% static 'images/bg2.jpg' %}{% endblock %}
{% block banner_section %}
  <span class="w3-center w3-padding-large w3-black w3-xlarge w3-wide w3-animate-opacity">DASHBOARD</span>
{% endblock banner_section %}
{% block mainbody %}
<div class="w3-content w3-container w3-padding-64">
    <div class="welcome-div">
      <h1> Welcome, {{user.first_name}} {{user.last_name}}</h1>
    </div>
    <div class="topic-div">
      <h3>Select Topics</h3>
      <form method="POST" action="{% url 'quiz' %}" id="myForm">
        {% csrf_token %}
        {% for topic in topics %}
          <input type="checkbox" name="selected_topics" value="{{ topic.id }}" id="checkbox{{topic.id}}">
          <label for="checkbox{{topic.id}}">{{ topic.name }}</label>
          <br>
        {% endfor %}
        
        <input type="submit" id="submitButton" class="primary-btn" value="Go For Quiz!"/> 
        <label id="message"><em>Select at least one topic to start quiz!</em></label> 
      </form>
    </div>
    <div class="quiz-history">
      {% if quizes %}
        <h3>Quiz History</h3>
      <div class="flex">  
        {% for record in quizes %}

        <a href="{% url "result" record.id %}" class="record-link flex-item">  
        Attempted on: {{record.timestamp}} <br>Score: {{record.score}}
        </a>
        {% endfor %}
      </div>
      {% else %}
        <h4>No Quiz History found</h4>
      {% endif %}
      </div>  
</div>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    // Get references to the checkboxes, submit button, and message element
    var checkboxes = document.querySelectorAll('input[name="selected_topics"]');
    var submitButton = document.getElementById('submitButton');
    var messageElement = document.getElementById('message');

    // Add an event listener to each checkbox
    checkboxes.forEach(function(checkbox) {
      checkbox.addEventListener('change', updateSubmitButton);
    });

    // Function to check if at least one checkbox is checked and enable/disable the submit button accordingly
    function updateSubmitButton() {
      var atLeastOneChecked = Array.from(checkboxes).some(function(checkbox) {
        return checkbox.checked;
      });

      submitButton.disabled = !atLeastOneChecked;

      // Show/hide the message based on the button's disabled state
      messageElement.style.display = submitButton.disabled ? 'block' : 'none';
    }

    // Disable the submit button onload
    updateSubmitButton();
  });
</script>
{% endblock mainbody %}