{% extends "base.html" %}
{% load static %}
{% block css_block %}
ul{
  list-style-type: none;
  text-align: left;
  font-size: small;
}
.errorlist{
  list-style-type: none;
  display: block;
  color: #ff6b6b;
}
.w3-container{
  text-align: center;
  width:fit-content;
}
input{
  width:100%;
  text-align: center;
}

{% endblock %}

{% block header_image %}{% static 'images/bg1.jpg' %}{% endblock %}
{% block banner_section %}
  <span class="w3-center w3-padding-large w3-black w3-xlarge w3-wide w3-animate-opacity"><span class="w3-hide-small">USER </span>REGISTRATION
{% endblock banner_section %}
{% block mainbody %}

<div class="w3-content w3-container w3-padding-64">
    <form method="POST" autocomplete="off">
        {% csrf_token %}
        {{registrationForm.as_p}}
        <input type="submit" class="primary-btn" value="Register">
    </form>
</div>
{% endblock mainbody %}